@font-face {
  font-family: 'OpenSansExtraBold';
  src: url('fonts/OpenSans-ExtraBold.ttf')  format('truetype');
}

@font-face {
  font-family: 'PTMono';
  src: url('fonts/PTMono-Regular.ttf')  format('truetype');
}

.h2, .app-title {
	font-family:"OpenSansExtraBold";
}

.lcd-screen-frame {
    position:relative;
}

.lcd-screen {
    width:364px;
    height:112px;
    background-image: url(lift_screen.png);
    font-family:"PTMono";
    color:#818181;
    font-size:10px;
    padding:20px 25px;
}

.lift-progress {
    position:absolute;
    right:25px;
    top:25px;
    background-image:url(progress_bar.png);
    width:120px;
    height:16px;
    opacity: .6;
}

.button-label {
    color:#818181;
    font-family:"OpenSansExtraBold";
	font-size:14px;
}

.cursor-pointer {
    cursor:pointer;
}

.btn-group-lg>.btn.boat-lift-button,
.btn-lg.boat-lift-button {
	border-radius:0;
	background-color:#000000;
	color:white;
	width:120px;
	font-family:"OpenSansExtraBold";
	font-size:22px;
}

.btn.boat-lift-button:hover {
    color: white;
    text-decoration: none;
}

.btn-group-lg>.btn.small-boat-lift-button, 
.btn-lg.small-boat-lift-button {
	border-radius:0;
	background-color:#000000;
	color:white;
	font-family:"OpenSansExtraBold";
	border:none;
	width:330px;
}
.btn.small-boat-lift-button:hover {
    color: white;
    text-decoration: none;
}

.ng-cloak { display: none !important; }

.switch {
    height: 56px;
    width: 30px;
    display: inline-block;
    background-image: url(switch_sprite.png);
}

.switch-off {
    background-position: 0px 0px;
}

.switch-on {
    background-position: -360px 0px;
}

.indicator {
    height: 33px;
    width: 33px;
    display: inline-block;
    background-image: url(indicator.png);
}

.indicator-off {
    background-position: 0px 0px;
}

.indicator-on {
    background-position: -33px 0px;
}

.power-button {
    height: 56px;
    width: 43px;
    display: inline-block;
    background-image: url(power_button.png);
}

.power-button-off {
    background-position: 0px 0px;
}

.power-button-on {
    background-position: -43px 0px;
}

.easy-lift-button {
    height: 43px;
    width: 139px;
    display: inline-block;
    background-image: url(easy_lift_button.png);
    font-family:"OpenSansExtraBold";
    color:#818181;
    font-size:18px;
    padding-top: 8px;
    background-position: -139px 0px;
}

.easy-lift-button-pushed {
    background-position: -139px 0px;
}

.easy-lift-button-not-pushed {
    background-position: 0px 0px;
}
