<!doctype html>
<html lang="en" ng-app="liftApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="cache-control" content="max-age=0"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta http-equiv="expires" content="0"/>
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT"/>
    <meta http-equiv="pragma" content="no-cache"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='apple-icon-144x144.png') }}"/>
    <title>Boat Lift</title>
</head>
<body>
<div class="container" ng-controller="boatLiftController">
    <br/><br/>
    <div class="jumbotron" style="background-color:#E6E6E5;border-radius:10px;border:1px solid #818181;">
        <div class="p-2 text-center ng-cloak cursor-pointer" ng-click="toggleEasyLift($event)">
            <div class="easy-lift-button">
                EASY LIFT
            </div>
        </div>
        <div id="lcd-screen-box" class="d-flex justify-content-center bd-highlight mb-3 example-parent">
            <div class="p-2 lcd-screen-frame">
                <div class="lcd-screen">
                    BOAT: {{ ' {{ status.lift_state }} ' }}<br/>
                    MASTER VALVE: {{ ' {{ status.master_valve_state }} ' }}<br/>
                    FRONT VALVES: {{ ' {{ status.front_valve_state }} ' }}<br/>
                    REAR VALVES: {{ ' {{ status.rear_valve_state }} ' }}<br/>
                    BLOWER: {{ ' {{ status.blower_state }} ' }}
                </div>
                <div class="lift-progress"></div>
                <div class="lift-messages">
                    <div ng-repeat="message in status.messages|limitTo:3">{{message}}</div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center bd-highlight mb-3 example-parent">
            <div ng-repeat="valve in valves" class="p-2 text-center ng-cloak cursor-pointer" ng-click="toggleValve($event, valve.state, valve.url)">
                <div class="indicator" ng-class="{'indicator-on': status[valve.state] == 'open', 'indicator-off': status[valve.state] == 'closed'}"></div>
                <br/>
                <div class="switch switch-slide" ng-class="{'switch-on': status[valve.state] == 'open',
                'switch-off': status[valve.state] == 'closed'}"></div>
                <div class="button-label">{{ '{{ valve.name }}' }}</div>
            </div>
            <div class="p-2 text-center ng-cloak cursor-pointer" ng-click="blowerToggle()">
                <div class="indicator" ng-class="{'indicator-on': status.blower_state == 'on', 'indicator-off': status.blower_state == 'off'}"></div>
                <br/>
                <div class="power-button"
                     ng-class="{'power-button-on': status.blower_state == 'on', 'power-button-off': status.blower_state == 'off'}">
                </div>
                <div class="button-label">BLOWER</div>
            </div>
        </div>
    </div>
</div>
<script src="{{ url_for('static', filename='jquery-3.5.1.slim.min.js') }}"></script>
<script src="{{ url_for('static', filename='popper.min.js') }}"></script>
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
<script src="{{ url_for('static', filename='angular.min.js') }}"></script>
<script src="{{ url_for('static', filename='socket.io.js') }}"></script>
<script src="{{ url_for('static', filename='controller.js') }}"></script>
</body>
</html>
